setuptools
wheel
# остальные твои зависимости
fastapi==0.110.0
uvicorn==0.29.0
orjson==3.10.1
numpy==1.23.5
pytest==7.4.0
requests==2.31.0
sentencepiece==0.1.99
tiktoken==0.3.3
torch==2.0.1
tqdm==4.64.1
wandb==0.15.5
